html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

canvas {
    width: 800px;
    height: 600px;
}

.center {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#canvas {
  background: white;
}
